@model IList<BlogWeb.Models.Post>

@Html.ActionLink("Novo Post", "Form")
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Título</th>
            <th>Data de Publicação</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.Id</td>
                <td>@p.Titulo</td>
                <td>@p.DataPublicacao</td>
                <td>
                    @Html.ActionLink("Remover", "Remove", new { id = p.Id }, new { @class = "icon-cancel" })
                </td>
                <td>
                    @Html.ActionLink("Editar", "Visualiza", new { id = p.Id }, new { @class = "icon-edit" })
                </td>
                <td id="publicar@(p.Id)">
                    <a href="#" onclick="publicaPost(@p.Id)">Publicar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    function publicaPost(postId) {
        $.post("/Post/Publica", { id: postId }, function () {
            var elemento = $("#publicar" + postId);
            elemento.html("Publicado");
        });
    }
</script>