<html>
<head>
    <title>Blog do Gabriel</title>
    <link href="~/Content/Css/blog.css" rel="stylesheet" />
    <link href="~/Content/Css/normalize.css" rel="stylesheet" />
    <link href="~/Content/Css/fontello.css" rel="stylesheet" />
    <link href="~/Content/Css/fontello-codes.css" rel="stylesheet" />
</head>
<body>
    @Html.Partial("_MenuSuperior")
    @Html.Partial("_Cabecalho")
    <div class="conteudo">
        <main>
            @RenderBody()
        </main>
        @Html.Action("Index", "Menu")
    </div>
    <footer>
        Copyright - Gabriel 2015
    </footer>
    @RenderSection("Scripts", false)
</body>
</html>
